.div {
  margin-top: 20px;
  text-align: center;
  background-color: #967efd;
  border-radius: 5px;
  display: inline-block;
  word-break: keep-all;
  max-width: 60ch;
  max-height: 500px;
}

.title {
  display: flex;
  justify-content: center;
}

.paragraph {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 800px) {
  .div {
      max-width: 60ch;
      max-height: 500px;
  }
}

@media only screen and (max-width: 799px) {
  .div {
      margin-left: 10%;
      margin-right: 10%;
  }
}

@media (max-width: 200px) {
  .div {
      margin-left: 5%;
      margin-right: 5%;
  }
}
