.formInput{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: #6553b4;
}

.span{
    font-size: 15px;
    padding: 5px;
    color: red;
    display: none
}



input:invalid[focused = "true"] ~ .span {
    display: block;
}

