.div{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    justify-content: center;
    background-color: #967efd;
    border-radius: 10px;
}

.user{
    background-color: #3139f6;
    padding:20px;
    border-radius: 10px;
}

.image{
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px
}

@media (max-width:310px) {
    .div{
        column-gap: 1em;
    }
    .user{
        padding: 10px;
    }
    .image{
        margin-top: 2px;
        margin-bottom: 2px
    }
}

@media (max-width:260px) {
    .div{
        column-gap: 0em;
    }
    .user{
        padding: 5px;
    }
    .image{
        margin-top: 1px;
        margin-bottom: 1px
    }
}
