.div {
  margin: 20px auto;
  background-color: #967efd;
  border-radius: 5px;
  word-break: break-all;
  max-width: 50ch;
  max-height: 500px;
  padding: 10px;
}

.title {
  padding-top: 0px;
  text-align: center;
}

.li {
  padding: 3px;
  word-break: break-all;
}
